#defaultContainer{
    overflow:hidden;
}
.defaultContainer-img{
    /* height:70vh; */
    /* width: 100vw; */
    position: relative;
}
.defaultContainer-info{
    width:100%;
    height:20vh;
    padding-left:30vw;
    /* background-color: #6cf */
}
.defaultContainer-infoItem{
    display: inline-block;
    padding-left: 5vw;
    padding-right: 5vw;
    border-left: 1px solid #ccc;
}
.defaultContainer-infoItem:last-child{
    border-right: 1px solid #ccc;
}

.defaultContainer-infoItem-title{
    text-align:center
}

.defaultContainer-infoItem-rate{
    text-align:center
}
